@model IEnumerable<CovidPortal.Models.CovidTable>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfConfirmedCase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfConfirmedCase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        
    </tr>
}

</table>
